.box {
    color: red;
    border: 1px red solid;
    border-radius: 10px;
    background-color: yellow;
    background-image: linear-gradient(pink, yellow);
    padding: 10px;
    margin: 10px;
}

.bio {
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px white solid;
    border-radius: 10px;
    background-color: blue;
    color: white;

}

.name {

}
.navbar {
    margin: 0px;
    padding: 0px !important;
}
.navbar .location {
    width: 100%;
    border: 3px solid grey;
    background-image: linear-gradient(to right, rgba(0,0,123), rgba(8,132,206));
    font-weight: bold;
    color: white;
    padding-left: 5px;
}
.navbar nav {
    width: 100%;

    border: 3px solid grey;
    background-color: grey;
 
    color: black;
}
.navbar nav a {
    text-decoration: none;
    color: black;
}


.window {
    padding:0px;
    margin-top: 0px !important;
    margin:10px;
    border: 3px solid grey;
    border-style: outset;
}

.bg {
    position: fixed;
    height: 100vh;
    width:100%;
    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;
}